### Git Ignore File ###
target/
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
.idea/**
*.iws
*.iml
*.ipr


### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/.mvn/
/.mvn/**
/.gradle/
/.gradle/**
/logs/korean-fortune.log
/.cursor/


/docker/docker/elasticsearch/data/_state/_3k.cfe
/docker/docker/elasticsearch/data/_state/_3k.cfs
/docker/docker/elasticsearch/data/_state/_3k.si
/docker/docker/elasticsearch/data/_state/_3k_7.liv
/docker/docker/elasticsearch/data/_state/_3l.cfe
/docker/docker/elasticsearch/data/_state/_3l.cfs
/docker/docker/elasticsearch/data/_state/_3l.si
/docker/docker/elasticsearch/data/_state/_3m.cfe
/docker/docker/elasticsearch/data/_state/_3m.cfs
/docker/docker/elasticsearch/data/_state/_3m.si
/docker/docker/elasticsearch/data/_state/_3n.cfe
/docker/docker/elasticsearch/data/_state/_3n.cfs
/docker/docker/elasticsearch/data/_state/_3n.si
/docker/docker/elasticsearch/data/_state/_3o.cfe
/docker/docker/elasticsearch/data/_state/_3o.cfs
/docker/docker/elasticsearch/data/_state/_3o.si
/docker/docker/elasticsearch/data/_state/_3p.cfe
/docker/docker/elasticsearch/data/_state/_3p.cfs
/docker/docker/elasticsearch/data/_state/_3p.si
/docker/docker/elasticsearch/data/_state/_3q.cfe
/docker/docker/elasticsearch/data/_state/_3q.cfs
/docker/docker/elasticsearch/data/_state/_3q.si
/docker/docker/elasticsearch/data/_state/_3r.cfe
/docker/docker/elasticsearch/data/_state/_3r.cfs
/docker/docker/elasticsearch/data/_state/_3r.si
/docker/docker/elasticsearch/data/_state/manifest-5.st
/docker/docker/elasticsearch/data/_state/node-5.st
/docker/docker/elasticsearch/data/_state/segments_5h
/docker/docker/elasticsearch/data/_state/write.lock
/docker/docker/elasticsearch/data/indices/1nsRQNsPR2-wLxRXxRZs5A/0/_state/retention-leases-8.st
/docker/docker/elasticsearch/data/indices/1nsRQNsPR2-wLxRXxRZs5A/0/_state/state-4.st
/docker/docker/elasticsearch/data/indices/1nsRQNsPR2-wLxRXxRZs5A/0/index/_0.cfe
/docker/docker/elasticsearch/data/indices/1nsRQNsPR2-wLxRXxRZs5A/0/index/_0.cfs
/docker/docker/elasticsearch/data/indices/1nsRQNsPR2-wLxRXxRZs5A/0/index/_0.si
/docker/docker/elasticsearch/data/indices/1nsRQNsPR2-wLxRXxRZs5A/0/index/_1.cfe
/docker/docker/elasticsearch/data/indices/1nsRQNsPR2-wLxRXxRZs5A/0/index/_1.cfs
/docker/docker/elasticsearch/data/indices/1nsRQNsPR2-wLxRXxRZs5A/0/index/_1.si
/docker/docker/elasticsearch/data/indices/1nsRQNsPR2-wLxRXxRZs5A/0/index/_2.cfe
/docker/docker/elasticsearch/data/indices/1nsRQNsPR2-wLxRXxRZs5A/0/index/_2.cfs
/docker/docker/elasticsearch/data/indices/1nsRQNsPR2-wLxRXxRZs5A/0/index/_2.si
/docker/docker/elasticsearch/data/indices/1nsRQNsPR2-wLxRXxRZs5A/0/index/_3.cfe
/docker/docker/elasticsearch/data/indices/1nsRQNsPR2-wLxRXxRZs5A/0/index/_3.cfs
/docker/docker/elasticsearch/data/indices/1nsRQNsPR2-wLxRXxRZs5A/0/index/_3.si
/docker/docker/elasticsearch/data/indices/1nsRQNsPR2-wLxRXxRZs5A/0/index/_4.cfe
/docker/docker/elasticsearch/data/indices/1nsRQNsPR2-wLxRXxRZs5A/0/index/_4.cfs
/docker/docker/elasticsearch/data/indices/1nsRQNsPR2-wLxRXxRZs5A/0/index/_4.si
/docker/docker/elasticsearch/data/indices/1nsRQNsPR2-wLxRXxRZs5A/0/index/_5.cfe
/docker/docker/elasticsearch/data/indices/1nsRQNsPR2-wLxRXxRZs5A/0/index/_5.cfs
/docker/docker/elasticsearch/data/indices/1nsRQNsPR2-wLxRXxRZs5A/0/index/_5.si
/docker/docker/elasticsearch/data/indices/1nsRQNsPR2-wLxRXxRZs5A/0/index/segments_b
/docker/docker/elasticsearch/data/indices/1nsRQNsPR2-wLxRXxRZs5A/0/index/write.lock
/docker/docker/elasticsearch/data/indices/1nsRQNsPR2-wLxRXxRZs5A/0/translog/translog.ckp
/docker/docker/elasticsearch/data/indices/1nsRQNsPR2-wLxRXxRZs5A/0/translog/translog-11.tlog
/docker/docker/elasticsearch/data/indices/1nsRQNsPR2-wLxRXxRZs5A/_state/state-9.st
/docker/docker/elasticsearch/data/indices/4pj2NbRLSgub1IPO_Gn_GA/0/_state/retention-leases-12.st
/docker/docker/elasticsearch/data/indices/4pj2NbRLSgub1IPO_Gn_GA/0/_state/state-4.st
/docker/docker/elasticsearch/data/indices/4pj2NbRLSgub1IPO_Gn_GA/0/index/_f.cfe
/docker/docker/elasticsearch/data/indices/4pj2NbRLSgub1IPO_Gn_GA/0/index/_f.cfs
/docker/docker/elasticsearch/data/indices/4pj2NbRLSgub1IPO_Gn_GA/0/index/_f.si
/docker/docker/elasticsearch/data/indices/4pj2NbRLSgub1IPO_Gn_GA/0/index/_l.cfe
/docker/docker/elasticsearch/data/indices/4pj2NbRLSgub1IPO_Gn_GA/0/index/_l.cfs
/docker/docker/elasticsearch/data/indices/4pj2NbRLSgub1IPO_Gn_GA/0/index/_l.si
/docker/docker/elasticsearch/data/indices/4pj2NbRLSgub1IPO_Gn_GA/0/index/_l_2.fnm
/docker/docker/elasticsearch/data/indices/4pj2NbRLSgub1IPO_Gn_GA/0/index/_l_2_Lucene90_0.dvd
/docker/docker/elasticsearch/data/indices/4pj2NbRLSgub1IPO_Gn_GA/0/index/_l_2_Lucene90_0.dvm
/docker/docker/elasticsearch/data/indices/4pj2NbRLSgub1IPO_Gn_GA/0/index/_q.cfe
/docker/docker/elasticsearch/data/indices/4pj2NbRLSgub1IPO_Gn_GA/0/index/_q.cfs
/docker/docker/elasticsearch/data/indices/4pj2NbRLSgub1IPO_Gn_GA/0/index/_q.si
/docker/docker/elasticsearch/data/indices/4pj2NbRLSgub1IPO_Gn_GA/0/index/_q_1.fnm
/docker/docker/elasticsearch/data/indices/4pj2NbRLSgub1IPO_Gn_GA/0/index/_q_1_Lucene90_0.dvd
/docker/docker/elasticsearch/data/indices/4pj2NbRLSgub1IPO_Gn_GA/0/index/_q_1_Lucene90_0.dvm
/docker/docker/elasticsearch/data/indices/4pj2NbRLSgub1IPO_Gn_GA/0/index/_r.cfe
/docker/docker/elasticsearch/data/indices/4pj2NbRLSgub1IPO_Gn_GA/0/index/_r.cfs
/docker/docker/elasticsearch/data/indices/4pj2NbRLSgub1IPO_Gn_GA/0/index/_r.si
/docker/docker/elasticsearch/data/indices/4pj2NbRLSgub1IPO_Gn_GA/0/index/_s.cfe
/docker/docker/elasticsearch/data/indices/4pj2NbRLSgub1IPO_Gn_GA/0/index/_s.cfs
/docker/docker/elasticsearch/data/indices/4pj2NbRLSgub1IPO_Gn_GA/0/index/_s.si
/docker/docker/elasticsearch/data/indices/4pj2NbRLSgub1IPO_Gn_GA/0/index/_t.cfe
/docker/docker/elasticsearch/data/indices/4pj2NbRLSgub1IPO_Gn_GA/0/index/_t.cfs
/docker/docker/elasticsearch/data/indices/4pj2NbRLSgub1IPO_Gn_GA/0/index/_t.si
/docker/docker/elasticsearch/data/indices/4pj2NbRLSgub1IPO_Gn_GA/0/index/segments_b
/docker/docker/elasticsearch/data/indices/4pj2NbRLSgub1IPO_Gn_GA/0/index/write.lock
/docker/docker/elasticsearch/data/indices/4pj2NbRLSgub1IPO_Gn_GA/0/translog/translog.ckp
/docker/docker/elasticsearch/data/indices/4pj2NbRLSgub1IPO_Gn_GA/0/translog/translog-12.tlog
/docker/docker/elasticsearch/data/indices/4pj2NbRLSgub1IPO_Gn_GA/_state/state-6.st
/docker/docker/elasticsearch/data/indices/7g26b0-sQXe7UYSmQuGBWw/0/_state/retention-leases-5.st
/docker/docker/elasticsearch/data/indices/7g26b0-sQXe7UYSmQuGBWw/0/_state/state-4.st
/docker/docker/elasticsearch/data/indices/7g26b0-sQXe7UYSmQuGBWw/0/index/segments_8
/docker/docker/elasticsearch/data/indices/7g26b0-sQXe7UYSmQuGBWw/0/index/write.lock
/docker/docker/elasticsearch/data/indices/7g26b0-sQXe7UYSmQuGBWw/0/translog/translog.ckp
/docker/docker/elasticsearch/data/indices/7g26b0-sQXe7UYSmQuGBWw/0/translog/translog-6.tlog
/docker/docker/elasticsearch/data/indices/7g26b0-sQXe7UYSmQuGBWw/_state/state-9.st
/docker/docker/elasticsearch/data/indices/BTNYiXWwTy6h-xyj-5cGBA/0/_state/retention-leases-8.st
/docker/docker/elasticsearch/data/indices/BTNYiXWwTy6h-xyj-5cGBA/0/_state/state-4.st
/docker/docker/elasticsearch/data/indices/BTNYiXWwTy6h-xyj-5cGBA/0/index/_1.cfe
/docker/docker/elasticsearch/data/indices/BTNYiXWwTy6h-xyj-5cGBA/0/index/_1.cfs
/docker/docker/elasticsearch/data/indices/BTNYiXWwTy6h-xyj-5cGBA/0/index/_1.si
/docker/docker/elasticsearch/data/indices/BTNYiXWwTy6h-xyj-5cGBA/0/index/segments_a
/docker/docker/elasticsearch/data/indices/BTNYiXWwTy6h-xyj-5cGBA/0/index/write.lock
/docker/docker/elasticsearch/data/indices/BTNYiXWwTy6h-xyj-5cGBA/0/translog/translog.ckp
/docker/docker/elasticsearch/data/indices/BTNYiXWwTy6h-xyj-5cGBA/0/translog/translog-8.tlog
/docker/docker/elasticsearch/data/indices/BTNYiXWwTy6h-xyj-5cGBA/_state/state-6.st
/docker/docker/elasticsearch/data/indices/crXOHlSRTZGINCnpMrS92w/0/_state/retention-leases-5.st
/docker/docker/elasticsearch/data/indices/crXOHlSRTZGINCnpMrS92w/0/_state/state-4.st
/docker/docker/elasticsearch/data/indices/crXOHlSRTZGINCnpMrS92w/0/index/segments_8
/docker/docker/elasticsearch/data/indices/crXOHlSRTZGINCnpMrS92w/0/index/write.lock
/docker/docker/elasticsearch/data/indices/crXOHlSRTZGINCnpMrS92w/0/translog/translog.ckp
/docker/docker/elasticsearch/data/indices/crXOHlSRTZGINCnpMrS92w/0/translog/translog-6.tlog
/docker/docker/elasticsearch/data/indices/crXOHlSRTZGINCnpMrS92w/_state/state-9.st
/docker/docker/elasticsearch/data/indices/H1vcnE-ITy2NTG5WQI5irA/0/_state/retention-leases-7.st
/docker/docker/elasticsearch/data/indices/H1vcnE-ITy2NTG5WQI5irA/0/_state/state-4.st
/docker/docker/elasticsearch/data/indices/H1vcnE-ITy2NTG5WQI5irA/0/index/_0.cfe
/docker/docker/elasticsearch/data/indices/H1vcnE-ITy2NTG5WQI5irA/0/index/_0.cfs
/docker/docker/elasticsearch/data/indices/H1vcnE-ITy2NTG5WQI5irA/0/index/_0.si
/docker/docker/elasticsearch/data/indices/H1vcnE-ITy2NTG5WQI5irA/0/index/_1.cfe
/docker/docker/elasticsearch/data/indices/H1vcnE-ITy2NTG5WQI5irA/0/index/_1.cfs
/docker/docker/elasticsearch/data/indices/H1vcnE-ITy2NTG5WQI5irA/0/index/_1.si
/docker/docker/elasticsearch/data/indices/H1vcnE-ITy2NTG5WQI5irA/0/index/_2.cfe
/docker/docker/elasticsearch/data/indices/H1vcnE-ITy2NTG5WQI5irA/0/index/_2.cfs
/docker/docker/elasticsearch/data/indices/H1vcnE-ITy2NTG5WQI5irA/0/index/_2.si
/docker/docker/elasticsearch/data/indices/H1vcnE-ITy2NTG5WQI5irA/0/index/_3.cfe
/docker/docker/elasticsearch/data/indices/H1vcnE-ITy2NTG5WQI5irA/0/index/_3.cfs
/docker/docker/elasticsearch/data/indices/H1vcnE-ITy2NTG5WQI5irA/0/index/_3.si
/docker/docker/elasticsearch/data/indices/H1vcnE-ITy2NTG5WQI5irA/0/index/segments_9
/docker/docker/elasticsearch/data/indices/H1vcnE-ITy2NTG5WQI5irA/0/index/write.lock
/docker/docker/elasticsearch/data/indices/H1vcnE-ITy2NTG5WQI5irA/0/translog/translog.ckp
/docker/docker/elasticsearch/data/indices/H1vcnE-ITy2NTG5WQI5irA/0/translog/translog-7.tlog
/docker/docker/elasticsearch/data/indices/H1vcnE-ITy2NTG5WQI5irA/_state/state-6.st
/docker/docker/elasticsearch/data/indices/i_35qY7AQ8OXaSyHgKWT_A/0/_state/retention-leases-5.st
/docker/docker/elasticsearch/data/indices/i_35qY7AQ8OXaSyHgKWT_A/0/_state/state-4.st
/docker/docker/elasticsearch/data/indices/i_35qY7AQ8OXaSyHgKWT_A/0/index/segments_8
/docker/docker/elasticsearch/data/indices/i_35qY7AQ8OXaSyHgKWT_A/0/index/write.lock
/docker/docker/elasticsearch/data/indices/i_35qY7AQ8OXaSyHgKWT_A/0/translog/translog.ckp
/docker/docker/elasticsearch/data/indices/i_35qY7AQ8OXaSyHgKWT_A/0/translog/translog-6.tlog
/docker/docker/elasticsearch/data/indices/i_35qY7AQ8OXaSyHgKWT_A/_state/state-9.st
/docker/docker/elasticsearch/data/indices/JKCTwL0HSiK-jncSLoebxQ/0/_state/retention-leases-5.st
/docker/docker/elasticsearch/data/indices/JKCTwL0HSiK-jncSLoebxQ/0/_state/state-4.st
/docker/docker/elasticsearch/data/indices/JKCTwL0HSiK-jncSLoebxQ/0/index/segments_8
/docker/docker/elasticsearch/data/indices/JKCTwL0HSiK-jncSLoebxQ/0/index/write.lock
/docker/docker/elasticsearch/data/indices/JKCTwL0HSiK-jncSLoebxQ/0/translog/translog.ckp
/docker/docker/elasticsearch/data/indices/JKCTwL0HSiK-jncSLoebxQ/0/translog/translog-6.tlog
/docker/docker/elasticsearch/data/indices/JKCTwL0HSiK-jncSLoebxQ/_state/state-9.st
/docker/docker/elasticsearch/data/indices/mpWoeHvYTICtc4BN9DmbWQ/0/_state/retention-leases-5.st
/docker/docker/elasticsearch/data/indices/mpWoeHvYTICtc4BN9DmbWQ/0/_state/state-4.st
/docker/docker/elasticsearch/data/indices/mpWoeHvYTICtc4BN9DmbWQ/0/index/segments_8
/docker/docker/elasticsearch/data/indices/mpWoeHvYTICtc4BN9DmbWQ/0/index/write.lock
/docker/docker/elasticsearch/data/indices/mpWoeHvYTICtc4BN9DmbWQ/0/translog/translog.ckp
/docker/docker/elasticsearch/data/indices/mpWoeHvYTICtc4BN9DmbWQ/0/translog/translog-6.tlog
/docker/docker/elasticsearch/data/indices/mpWoeHvYTICtc4BN9DmbWQ/_state/state-5.st
/docker/docker/elasticsearch/data/indices/NOD1auKxTKqc8h1fjdrIlw/0/_state/retention-leases-5.st
/docker/docker/elasticsearch/data/indices/NOD1auKxTKqc8h1fjdrIlw/0/_state/state-4.st
/docker/docker/elasticsearch/data/indices/NOD1auKxTKqc8h1fjdrIlw/0/index/segments_8
/docker/docker/elasticsearch/data/indices/NOD1auKxTKqc8h1fjdrIlw/0/index/write.lock
/docker/docker/elasticsearch/data/indices/NOD1auKxTKqc8h1fjdrIlw/0/translog/translog.ckp
/docker/docker/elasticsearch/data/indices/NOD1auKxTKqc8h1fjdrIlw/0/translog/translog-6.tlog
/docker/docker/elasticsearch/data/indices/NOD1auKxTKqc8h1fjdrIlw/_state/state-9.st
/docker/docker/elasticsearch/data/indices/OWv4CebST6WNFyDqPXD24w/0/_state/retention-leases-5.st
/docker/docker/elasticsearch/data/indices/OWv4CebST6WNFyDqPXD24w/0/_state/state-4.st
/docker/docker/elasticsearch/data/indices/OWv4CebST6WNFyDqPXD24w/0/index/segments_8
/docker/docker/elasticsearch/data/indices/OWv4CebST6WNFyDqPXD24w/0/index/write.lock
/docker/docker/elasticsearch/data/indices/OWv4CebST6WNFyDqPXD24w/0/translog/translog.ckp
/docker/docker/elasticsearch/data/indices/OWv4CebST6WNFyDqPXD24w/0/translog/translog-6.tlog
/docker/docker/elasticsearch/data/indices/OWv4CebST6WNFyDqPXD24w/_state/state-5.st
/docker/docker/elasticsearch/data/indices/SbBCBXPqRrOEyCPmAmfPKw/0/_state/retention-leases-2.st
/docker/docker/elasticsearch/data/indices/SbBCBXPqRrOEyCPmAmfPKw/0/_state/state-1.st
/docker/docker/elasticsearch/data/indices/SbBCBXPqRrOEyCPmAmfPKw/0/index/_0.cfe
/docker/docker/elasticsearch/data/indices/SbBCBXPqRrOEyCPmAmfPKw/0/index/_0.cfs
/docker/docker/elasticsearch/data/indices/SbBCBXPqRrOEyCPmAmfPKw/0/index/_0.si
/docker/docker/elasticsearch/data/indices/SbBCBXPqRrOEyCPmAmfPKw/0/index/_1.cfe
/docker/docker/elasticsearch/data/indices/SbBCBXPqRrOEyCPmAmfPKw/0/index/_1.cfs
/docker/docker/elasticsearch/data/indices/SbBCBXPqRrOEyCPmAmfPKw/0/index/_1.si
/docker/docker/elasticsearch/data/indices/SbBCBXPqRrOEyCPmAmfPKw/0/index/segments_5
/docker/docker/elasticsearch/data/indices/SbBCBXPqRrOEyCPmAmfPKw/0/index/write.lock
/docker/docker/elasticsearch/data/indices/SbBCBXPqRrOEyCPmAmfPKw/0/translog/translog.ckp
/docker/docker/elasticsearch/data/indices/SbBCBXPqRrOEyCPmAmfPKw/0/translog/translog-5.tlog
/docker/docker/elasticsearch/data/indices/SbBCBXPqRrOEyCPmAmfPKw/_state/state-7.st
/docker/docker/elasticsearch/data/indices/vpSm8dL8QEuVCCDbOdNN0w/0/_state/retention-leases-31.st
/docker/docker/elasticsearch/data/indices/vpSm8dL8QEuVCCDbOdNN0w/0/_state/state-4.st
/docker/docker/elasticsearch/data/indices/vpSm8dL8QEuVCCDbOdNN0w/0/index/_9a.cfe
/docker/docker/elasticsearch/data/indices/vpSm8dL8QEuVCCDbOdNN0w/0/index/_9a.cfs
/docker/docker/elasticsearch/data/indices/vpSm8dL8QEuVCCDbOdNN0w/0/index/_9a.si
/docker/docker/elasticsearch/data/indices/vpSm8dL8QEuVCCDbOdNN0w/0/index/_9a_1.fnm
/docker/docker/elasticsearch/data/indices/vpSm8dL8QEuVCCDbOdNN0w/0/index/_9a_1_Lucene90_0.dvd
/docker/docker/elasticsearch/data/indices/vpSm8dL8QEuVCCDbOdNN0w/0/index/_9a_1_Lucene90_0.dvm
/docker/docker/elasticsearch/data/indices/vpSm8dL8QEuVCCDbOdNN0w/0/index/_9b.cfe
/docker/docker/elasticsearch/data/indices/vpSm8dL8QEuVCCDbOdNN0w/0/index/_9b.cfs
/docker/docker/elasticsearch/data/indices/vpSm8dL8QEuVCCDbOdNN0w/0/index/_9b.si
/docker/docker/elasticsearch/data/indices/vpSm8dL8QEuVCCDbOdNN0w/0/index/_9b_2.fnm
/docker/docker/elasticsearch/data/indices/vpSm8dL8QEuVCCDbOdNN0w/0/index/_9b_2_Lucene90_0.dvd
/docker/docker/elasticsearch/data/indices/vpSm8dL8QEuVCCDbOdNN0w/0/index/_9b_2_Lucene90_0.dvm
/docker/docker/elasticsearch/data/indices/vpSm8dL8QEuVCCDbOdNN0w/0/index/_9c.cfe
/docker/docker/elasticsearch/data/indices/vpSm8dL8QEuVCCDbOdNN0w/0/index/_9c.cfs
/docker/docker/elasticsearch/data/indices/vpSm8dL8QEuVCCDbOdNN0w/0/index/_9c.si
/docker/docker/elasticsearch/data/indices/vpSm8dL8QEuVCCDbOdNN0w/0/index/_9d.cfe
/docker/docker/elasticsearch/data/indices/vpSm8dL8QEuVCCDbOdNN0w/0/index/_9d.cfs
/docker/docker/elasticsearch/data/indices/vpSm8dL8QEuVCCDbOdNN0w/0/index/_9d.si
/docker/docker/elasticsearch/data/indices/vpSm8dL8QEuVCCDbOdNN0w/0/index/_9d_1.fnm
/docker/docker/elasticsearch/data/indices/vpSm8dL8QEuVCCDbOdNN0w/0/index/_9d_1_Lucene90_0.dvd
/docker/docker/elasticsearch/data/indices/vpSm8dL8QEuVCCDbOdNN0w/0/index/_9d_1_Lucene90_0.dvm
/docker/docker/elasticsearch/data/indices/vpSm8dL8QEuVCCDbOdNN0w/0/index/_9e.cfe
/docker/docker/elasticsearch/data/indices/vpSm8dL8QEuVCCDbOdNN0w/0/index/_9e.cfs
/docker/docker/elasticsearch/data/indices/vpSm8dL8QEuVCCDbOdNN0w/0/index/_9e.si
/docker/docker/elasticsearch/data/indices/vpSm8dL8QEuVCCDbOdNN0w/0/index/_9e_1.fnm
/docker/docker/elasticsearch/data/indices/vpSm8dL8QEuVCCDbOdNN0w/0/index/_9e_1_Lucene90_0.dvd
/docker/docker/elasticsearch/data/indices/vpSm8dL8QEuVCCDbOdNN0w/0/index/_9e_1_Lucene90_0.dvm
/docker/docker/elasticsearch/data/indices/vpSm8dL8QEuVCCDbOdNN0w/0/index/_97.cfe
/docker/docker/elasticsearch/data/indices/vpSm8dL8QEuVCCDbOdNN0w/0/index/_97.cfs
/docker/docker/elasticsearch/data/indices/vpSm8dL8QEuVCCDbOdNN0w/0/index/_97.si
/docker/docker/elasticsearch/data/indices/vpSm8dL8QEuVCCDbOdNN0w/0/index/_97_2.fnm
/docker/docker/elasticsearch/data/indices/vpSm8dL8QEuVCCDbOdNN0w/0/index/_97_2_Lucene90_0.dvd
/docker/docker/elasticsearch/data/indices/vpSm8dL8QEuVCCDbOdNN0w/0/index/_97_2_Lucene90_0.dvm
/docker/docker/elasticsearch/data/indices/vpSm8dL8QEuVCCDbOdNN0w/0/index/_98.cfe
/docker/docker/elasticsearch/data/indices/vpSm8dL8QEuVCCDbOdNN0w/0/index/_98.cfs
/docker/docker/elasticsearch/data/indices/vpSm8dL8QEuVCCDbOdNN0w/0/index/_98.si
/docker/docker/elasticsearch/data/indices/vpSm8dL8QEuVCCDbOdNN0w/0/index/_98_1.fnm
/docker/docker/elasticsearch/data/indices/vpSm8dL8QEuVCCDbOdNN0w/0/index/_98_1_Lucene90_0.dvd
/docker/docker/elasticsearch/data/indices/vpSm8dL8QEuVCCDbOdNN0w/0/index/_98_1_Lucene90_0.dvm
/docker/docker/elasticsearch/data/indices/vpSm8dL8QEuVCCDbOdNN0w/0/index/_99.cfe
/docker/docker/elasticsearch/data/indices/vpSm8dL8QEuVCCDbOdNN0w/0/index/_99.cfs
/docker/docker/elasticsearch/data/indices/vpSm8dL8QEuVCCDbOdNN0w/0/index/_99.si
/docker/docker/elasticsearch/data/indices/vpSm8dL8QEuVCCDbOdNN0w/0/index/_99_2.fnm
/docker/docker/elasticsearch/data/indices/vpSm8dL8QEuVCCDbOdNN0w/0/index/_99_2_Lucene90_0.dvd
/docker/docker/elasticsearch/data/indices/vpSm8dL8QEuVCCDbOdNN0w/0/index/_99_2_Lucene90_0.dvm
/docker/docker/elasticsearch/data/indices/vpSm8dL8QEuVCCDbOdNN0w/0/index/segments_l
/docker/docker/elasticsearch/data/indices/vpSm8dL8QEuVCCDbOdNN0w/0/index/write.lock
/docker/docker/elasticsearch/data/indices/vpSm8dL8QEuVCCDbOdNN0w/0/translog/translog.ckp
/docker/docker/elasticsearch/data/indices/vpSm8dL8QEuVCCDbOdNN0w/0/translog/translog-22.tlog
/docker/docker/elasticsearch/data/indices/vpSm8dL8QEuVCCDbOdNN0w/_state/state-6.st
/docker/docker/elasticsearch/data/indices/W3DLWrgoTAy5MsYaRB9dmA/0/_state/retention-leases-7.st
/docker/docker/elasticsearch/data/indices/W3DLWrgoTAy5MsYaRB9dmA/0/_state/state-4.st
/docker/docker/elasticsearch/data/indices/W3DLWrgoTAy5MsYaRB9dmA/0/index/_0.cfe
/docker/docker/elasticsearch/data/indices/W3DLWrgoTAy5MsYaRB9dmA/0/index/_0.cfs
/docker/docker/elasticsearch/data/indices/W3DLWrgoTAy5MsYaRB9dmA/0/index/_0.si
/docker/docker/elasticsearch/data/indices/W3DLWrgoTAy5MsYaRB9dmA/0/index/_1.cfe
/docker/docker/elasticsearch/data/indices/W3DLWrgoTAy5MsYaRB9dmA/0/index/_1.cfs
/docker/docker/elasticsearch/data/indices/W3DLWrgoTAy5MsYaRB9dmA/0/index/_1.si
/docker/docker/elasticsearch/data/indices/W3DLWrgoTAy5MsYaRB9dmA/0/index/segments_9
/docker/docker/elasticsearch/data/indices/W3DLWrgoTAy5MsYaRB9dmA/0/index/write.lock
/docker/docker/elasticsearch/data/indices/W3DLWrgoTAy5MsYaRB9dmA/0/translog/translog.ckp
/docker/docker/elasticsearch/data/indices/W3DLWrgoTAy5MsYaRB9dmA/0/translog/translog-7.tlog
/docker/docker/elasticsearch/data/indices/W3DLWrgoTAy5MsYaRB9dmA/_state/state-6.st
/docker/docker/elasticsearch/data/indices/wnil_B3JQke5REhMCQFRxQ/0/_state/retention-leases-5.st
/docker/docker/elasticsearch/data/indices/wnil_B3JQke5REhMCQFRxQ/0/_state/state-4.st
/docker/docker/elasticsearch/data/indices/wnil_B3JQke5REhMCQFRxQ/0/index/segments_8
/docker/docker/elasticsearch/data/indices/wnil_B3JQke5REhMCQFRxQ/0/index/write.lock
/docker/docker/elasticsearch/data/indices/wnil_B3JQke5REhMCQFRxQ/0/translog/translog.ckp
/docker/docker/elasticsearch/data/indices/wnil_B3JQke5REhMCQFRxQ/0/translog/translog-6.tlog
/docker/docker/elasticsearch/data/indices/wnil_B3JQke5REhMCQFRxQ/_state/state-5.st
/docker/docker/elasticsearch/data/indices/ycjypW3JStyQtkCGtvVZzg/0/_state/retention-leases-7.st
/docker/docker/elasticsearch/data/indices/ycjypW3JStyQtkCGtvVZzg/0/_state/state-4.st
/docker/docker/elasticsearch/data/indices/ycjypW3JStyQtkCGtvVZzg/0/index/_0.cfe
/docker/docker/elasticsearch/data/indices/ycjypW3JStyQtkCGtvVZzg/0/index/_0.cfs
/docker/docker/elasticsearch/data/indices/ycjypW3JStyQtkCGtvVZzg/0/index/_0.si
/docker/docker/elasticsearch/data/indices/ycjypW3JStyQtkCGtvVZzg/0/index/_1.cfe
/docker/docker/elasticsearch/data/indices/ycjypW3JStyQtkCGtvVZzg/0/index/_1.cfs
/docker/docker/elasticsearch/data/indices/ycjypW3JStyQtkCGtvVZzg/0/index/_1.si
/docker/docker/elasticsearch/data/indices/ycjypW3JStyQtkCGtvVZzg/0/index/_2.cfe
/docker/docker/elasticsearch/data/indices/ycjypW3JStyQtkCGtvVZzg/0/index/_2.cfs
/docker/docker/elasticsearch/data/indices/ycjypW3JStyQtkCGtvVZzg/0/index/_2.si
/docker/docker/elasticsearch/data/indices/ycjypW3JStyQtkCGtvVZzg/0/index/segments_a
/docker/docker/elasticsearch/data/indices/ycjypW3JStyQtkCGtvVZzg/0/index/write.lock
/docker/docker/elasticsearch/data/indices/ycjypW3JStyQtkCGtvVZzg/0/translog/translog.ckp
/docker/docker/elasticsearch/data/indices/ycjypW3JStyQtkCGtvVZzg/0/translog/translog-9.tlog
/docker/docker/elasticsearch/data/indices/ycjypW3JStyQtkCGtvVZzg/_state/state-7.st
/docker/docker/elasticsearch/data/indices/yEV6E06KQHONOANDWJVOHg/0/_state/retention-leases-5.st
/docker/docker/elasticsearch/data/indices/yEV6E06KQHONOANDWJVOHg/0/_state/state-4.st
/docker/docker/elasticsearch/data/indices/yEV6E06KQHONOANDWJVOHg/0/index/segments_8
/docker/docker/elasticsearch/data/indices/yEV6E06KQHONOANDWJVOHg/0/index/write.lock
/docker/docker/elasticsearch/data/indices/yEV6E06KQHONOANDWJVOHg/0/translog/translog.ckp
/docker/docker/elasticsearch/data/indices/yEV6E06KQHONOANDWJVOHg/0/translog/translog-6.tlog
/docker/docker/elasticsearch/data/indices/yEV6E06KQHONOANDWJVOHg/_state/state-9.st
/docker/docker/elasticsearch/data/indices/zlQxi7GNRP6IKhYrbBLJLg/0/_state/retention-leases-5.st
/docker/docker/elasticsearch/data/indices/zlQxi7GNRP6IKhYrbBLJLg/0/_state/state-4.st
/docker/docker/elasticsearch/data/indices/zlQxi7GNRP6IKhYrbBLJLg/0/index/segments_8
/docker/docker/elasticsearch/data/indices/zlQxi7GNRP6IKhYrbBLJLg/0/index/write.lock
/docker/docker/elasticsearch/data/indices/zlQxi7GNRP6IKhYrbBLJLg/0/translog/translog.ckp
/docker/docker/elasticsearch/data/indices/zlQxi7GNRP6IKhYrbBLJLg/0/translog/translog-6.tlog
/docker/docker/elasticsearch/data/indices/zlQxi7GNRP6IKhYrbBLJLg/_state/state-6.st
/docker/docker/elasticsearch/data/snapshot_cache/segments_6
/docker/docker/elasticsearch/data/snapshot_cache/write.lock
/docker/docker/elasticsearch/data/node.lock
/docker/docker/elasticsearch/data/nodes

codeql-pack.yml
*.class

logs/

# ==============================================
# 민감한 정보 파일 (Git에 커밋되지 않음)
# ==============================================
src/main/resources/application-dev-secrets.yml
docker/docker/ollama/id_ed25519
src/main/resources/application-prod-secrets.yml
src/main/resources/application-*-secrets.yml
*.secrets.yml
*.secrets.properties

# ==============================================
# 환경변수 파일
# ==============================================
.env
.env.local
.env.development
.env.production
bin/main/application-dev-secrets.yml

# Eclipse/STS 빌드 산출물 (재발 방지: 시크릿 유출 벡터)
bin/
!ops/openbao/bin/
!ops/openbao/bin/render-secrets.sh
